.graylist-modal-outer {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(140, 140, 140, 0.5);
}
.graylist-modal {
	margin: 0 5px;
	background-color: #fff;
	position: fixed;
	top: 20%;
	left: 30%;
	height: 30%;
	width: 40%;
	margin: 0 auto;
}
#x-button {
	float: right;
}
#x {
	width: 20px;
	height: 20px;
	margin-bottom: 5px;
	position: relative;
	float: right;
}
.first-line, .second-line {
	position: absolute;
	border: 1px solid #000000;
	width: 20px;
}
.first-line {
	bottom: 0;
	-ms-tranform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.second-line {
	bottom: 0;
	-ms-tranform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	tranform: rotate(-45deg);
}

